doctype html 
html
    head 
        title Natours 
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    body 
        h1 The Park Camper
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis pariatur velit voluptatem magnam eaque odit, quas aperiam esse recusandae. Reiciendis quia vel ex id ad esse velit perferendis excepturi asperiores?